
.SibeMenuList {
    height: auto;
    padding: 0;
    width: 100%;
}


.SibeMenuList .row {
    width: 100%;
    height: 60px;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.SibeMenuList .row:hover {
    cursor: pointer;
    background-color: #007a98;
}

.SibeMenuList #active {
    background-color: #007a98;
}

.row #icon {
    flex: 35%;
    display: grid;
    place-items: center;
}

.row #title {
    flex: 90%;
   
}

tbody tr:hover.selected td,
tbody tr:hover td {
  cursor: pointer;
}
tbody tr.selected td {
  background-color: #E5E5E5;
}
