* {
    margin: 0;
    box-sizing: border-box;
}
.SibeMenuList {
    padding: 0;
    width: 100%;
}

.ouvert {
    display: inline;
    list-style-type: none;
    margin: 0%;
}

.SibeMenuList .ouvert .row {
    height: 40px;
}

.ouvert .row #title {
    flex: 90%;
}

.ferme {
    display: none;
}


.SibeMenuList .row {
    width: 100%;
    height: 60px;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.SibeMenuList .row:hover {
    cursor: pointer;
    background-color: #007a98;
}

.SibeMenuList #active {
    background-color: #007a98;
}

.row #icon {
    flex: 35%;
    display: grid;
    place-items: center;
}

.row #title {
    flex: 90%;
   
}

tbody tr:hover.selected td,
tbody tr:hover td {
  
  cursor: pointer;
}
tbody tr.selected td {
  background-color: #E5E5E5;
}

.appMain {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover {
    background-color: white;
    width: 25em;
    height: 35em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.input {
    height: 4em;
    width: 100%;
}

.tablet {
    padding-left: 250;
}